HEADLESS=false
WIDTH=560
HEIGHT=900

PORT=3930
HOST=127.0.0.1

PLAYWRIGHT_BROWSER=chromium

BETPAWA_LOGIN_URL=https://www.betpawa.co.tz/login
GAME_BASE_URL=https://www.betpawa.co.tz
AVIATOR_GAME_URL=https://www.betpawa.co.tz/casino/game/34971
FORTUNER_MINE_GAME_URL=https://www.betpawa.co.tz/casino/game/35102?redirectBack=%2Fcasino

AUTH_PHONE_SELECTOR=[data-test-id="login-form-phone-number-input"]
AUTH_PASSWORD_SELECTOR=[data-test-id="login-form-password-input"]
AUTH_LOGIN_BUTTON_SELECTOR=[data-test-id="log-in-button"]
AUTH_SUCCESS_SELECTOR=[data-test-id="account-menu-icon-account"]
AUTH_BALANCE_SELECTOR=._balance_6umpy_40
AUTH_ERROR_SELECTOR=[data-test-id="login-error"]

AUTH_TIMEOUT=40000
OPEN_GAME_TIMEOUT=15000
DOM_WATCHDOG_MS=250
STABLE_AUTH_CHECKS=2
